# Use PyPI as default
--extra-index-url https://download.pytorch.org/whl/cpu

# Core Web Framework
fastapi
uvicorn[standard]
pydantic

# Environment
python-dotenv

# APIs
openai
requests
huggingface_hub

# Vector DB
faiss-cpu

# Embeddings (CPU-only, from PyTorch repo)
torch==2.2.1
sentence-transformers==2.2.2

# Optional
accelerate
