# Use PyPI as default
--extra-index-url https://download.pytorch.org/whl/cpu

# Core Web Framework
fastapi
uvicorn[standard]
pydantic
python-multipart

# Environment
python-dotenv

# APIs
openai
requests
huggingface_hub
transformers==4.38.2

# Document parsing
pdfplumber
python-docx

# Vector DB
faiss-cpu

# Embeddings (CPU-only, from PyTorch repo)
numpy==1.26.4
torch==2.2.1
sentence-transformers==2.6.1

# Optional
accelerate
